 <p>
  <%= comment.text %>
 </p>
 <p>
  Answered By:
  <%= mail_to(comment.user.email,comment.user.name) %> 
 </p>
 <p>
  <%= time_ago_in_words comment.created_at %> ago 
 </p>
 <p>
  Rating: <%=comment.score %> 	  
  <%= link_to "Rate Up",rate_up_post_path( @post.id, :id2 => comment.id ), :remote => true %> 
  | 
  <%= link_to "Rate Down",rate_down_post_path( @post.id, :id2 => comment.id ), :remote => true %>
 </p>
<hr />

