<h1>New Question</h1>

<%= render 'form' %>

<h2> Questions & Answers Blog </h2>


<% @posts.each do |post| %>
  <h2><%= link_to post.content,post %></h2>
  <p>
   <%= time_ago_in_words post.created_at %> ago
  </p>
  <p>
   <%= truncate post.name %>
  </p>
<% end %>

<%= link_to 'Back', posts_path %>


